*{
	margin: 0px;
	padding: 0px;
}
#top{
	
	text-align: center;
	position:flex ;
	color: white;
}
#top1{
	font-size: 1rem;
	/*font-weight: bold;*/
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: stretch;
    justify-items: center;
    align-items: center;
    justify-content: end;
    grid-gap: 30px;
    margin: 30px;
}
ul li{
	cursor: pointer;
	list-style-type: none;
	justify-content: center;
} 
li:hover{
	color: red;
}
div #zomato{
    text-align: center;
	/*align-items: center;*/
	align-content: center;
	color: red;
	margin-top:100px ;
	font-size: 3rem;
}
#top3{
	color: mintcream;
	font-size: 2rem;
	text-align: center;
	font-family:initial;
}
#input{
	margin-top: 20px;
	text-align: center;
	}
#search{
	outline-color: red;
	outline-offset:1px;
	outline-width: 0.5px;
	/*outline-style: ;*/
	width: 57%;
	padding: 15px;
	font-size: 20px;
	border-radius: 10px;
	border: 0px;


}	
	

#container::before{
	content: '';
	background: url(food7.jpg) no-repeat center center/cover  ;
    filter: url(food7.jpg) brightness(65%);
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
	z-index: -1;
	width: 100%;
	height: 70%;
	opacity: 5;
}
#top4{
	text-align: center;
	display: flex;
	flex-direction: rows;
	display: grid;
	grid-gap: 20px;
	margin: 30px;
	margin-left: 150px;
	margin-right: 150px;
	grid-template-columns: auto auto auto auto;
}

#row1{
	width: 16vw;
	height: 340px;
	/*border: 2px solid black;*/
	background: url(food7.jpg) no-repeat center center/cover;
	filter: url(food7.jpg) brightness(70%);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 10px;
}



#row2{
	width: 16vw;
	height: 340px;
	/*border: 2px solid black;*/
	background: url(food6.jpg) no-repeat center center/cover;
	filter: url(food6.jpg) brightness(70%);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 10px;
}
#row3{
	width: 16vw;
	height: 340px;
	/*border: 2px solid black;*/
	background: url(food10.jpg) no-repeat center center/cover;
	filter: url(food10.jpg) brightness(70%);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 10px;
}
#row4{
	width: 16vw;
	height: 340px;
	/*border: 2px solid black;*/
	background: url(food5.jpg) no-repeat center center/cover;
	filter: url(food5.jpg) brightness(70%);
	display: flex;
	justify-content: center;
	align-items: flex-end;
	border-radius: 10px;
}
.btn{
	outline-width: 1px;
	outline-color: white;
	outline-style: inset;
	margin-bottom: 5px;
	cursor: pointer;
	font-size: 15px;
	padding: 4px;
	color: white;
	border: 0px;
    border-radius: 5px;
    background-color: black
    
}
li a{
	color: white;
}

li a:hover{
	color: red;
}

/***********Oreder Online *************/

#body{
background: url(food4.jpg) no-repeat;
background-size: 100%;
}

#center{
	padding: 10px;
	text-align: center;
	background-color: white;
	margin: 50px;
	margin-right: 35%;
	margin-left: 35%;
	box-shadow: 2px 2px 3px 2px white;
	border-radius: 2rem;

}
.form-shape input, .form-shape select, .form-shape label{
display: grid;
grid-template-columns: auto auto auto auto auto auto;
align-items: flex-end;
width: 60%;
font-size: 15px;
margin:10px;
padding: 5px;
} 
#form{
	/*display: flex;*/
	/*background-color: red;*/
	margin-left:%;
}
#submit{
	margin: 10px;
	padding: 5px;
	font-weight: bold;
	font-size: 15px;
	background-color: skyblue;
	border-radius: 4px;
	border: 1px solid black;
	width: 80%;
}
#submit:hover{
	background-color: limegreen;
}

